h1 {
    font-family: wingdings;
}
p{
    font-family:sans-serif
}

head{
    background-image: url(https://imgs.search.brave.com/EK69DyflnqQ16DCVIZ_lFdaTSlnmOqdKfkkoI4NuJ_M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMucG9rZW1vbi5j/b20vYXNzZXRzL2Nt/czIvaW1nL3Bva2Vk/ZXgvZnVsbC80MDMu/cG5n) ;
}
/*note example*/
